    .about {
        //@include flex-center;
        .container{
            @include container;
        }

        text-align: center;
        background: url("../img/testmonials-bg.png") no-repeat;
        background-color: #4b3b4e;
        block-size: contain;

        &-title {
            padding-top: 63px;
            margin-bottom: 20px;
            font-size: 36px;
            line-height: 48px;
            color: #fff;
            font-family: $main-font-1;
            font-weight: bold;
        }
        &-wrapper {
            text-align: center;
        }
        &-item {
            margin: 0 auto;
            padding-top:20px;
            &__text {
                width: 290px;
                padding-top: 32px;
                padding-bottom: 32px;
                font-family: $main-font-2;
                font-size: 16px;
                line-height: 24px;
                font-style: italic;
                font-weight: bold;
                color:#fff;
                margin: 0 auto;
            }
        }

        &-footer {
            display: none;
        }
        &__line {
            margin: 0 auto;
            padding: 0 5px;
            height: 2px;
            display: block;
            background-color: #645766;
        } 
    }

    @include for-tablet{
        .about{
            &-item {
                width: 320px;
                position: relative;
                height: 200px;
                &__img{
                    text-align: center;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &__text{
                    position: absolute;
                    bottom: 0;
                    height: 130px;
                    padding-bottom: 0;
                    align-self: flex-end;
                }
            }
            &-wrapper { 
                padding-top: 70px;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
            }
            &-footer {
                padding-top: 30px;
                padding-bottom: 10px;
                display: block;
                text-align: center;
                color: #645766;
                font-size: 14px;
                line-height: 24px;
                font-family: $main-font-2;
                font-weight: 400;
                margin: 0 20px;
            }
            &__line {
                padding: 0 30px;
            } 
        }
    }
