.navbar {
  background-color: $navbar-background-color;
  box-sizing: border-box;
  padding-top: 30px;
  height: 104px;
  .container {
    @include container;
    @include flex-wrapp;
    justify-content: space-between;
  }
  .navbar-logo {
    text-decoration: none;
    &__img{
      width: 43px;
      height: 41px;
      background: url("../img/navbar-logo.png") no-repeat;
    }
    &__text {
      display: none;
    }
    &-wrapper {
      padding-left: 1px;
      margin-top: 2px;
    }
  }
  .navbar-logo:hover{
    .navbar-logo__img{
      background: url("../img/navbar-logo-hover.png") no-repeat;
    }
  }
  &-menu {
    position: absolute;
    transition: all 0.5s linear;
    top: 100px;
    left: 0px;
    right: 0;
    margin: 0 15px;
    height: 370px;
    background-color: #333;

    &__item {
      padding-top: 20px;
      width: 100%;
      box-sizing: border-box;
      display: inline-block;
      border-bottom: 2px solid #3b3b3b;
      height: 89px;
    }

    &__link {
      display: inline-block;
      box-sizing: border-box;
      padding-left: 32px;
      font-family: $main-font-1;
      text-decoration: none;
      color: #f5f5f5;
      line-height: 53px;
      font-size: 26px;
      &--active {
        border-left:
                8px solid $navbar-text-color;
        color: $navbar-text-color;
        padding-left: 24px;
      }
    }
    &__link:hover{
      color:#f5f5f5;
    }
    &--close{
      display: none;
    }
  }
}

@include for-tablet {
  .navbar {
    padding-top: 22px;
    height: 118px;
    .navbar-logo {
      transition: .3s all;
      display: flex;
      &__img {
        margin-right: 14px;
      }
      &__text {
        float: right;
        display: block;
        font-size: 24px;
        text-transform: uppercase;
        color: $navbar-text-color;
        font-weight: bold;
        font-family: $main-font-2;
        line-height: 40px;
      }
      &-wrapper {
        padding-left: 0;
        margin-top: 0;
      }
    }
    .navbar-logo:hover{

      .navbar-logo__text{
        color:#fff;
      }
    }
    &-menu {
      height: 16px;
      line-height: 16px;
      top: 84px;
      text-align: center;
      background: none;
      &__item {
        height: 16px;
        padding: 0;
        border: none;
        display: inline;
      }
      &__link {
        padding-left: 45px;
        height: 16px;
        line-height: 16px;
        border: none;
        font-size: 16px;
        color: $navbar-text-color;
        font-weight: bold;
        &--active {
          padding-left: 0;
          line-height: 16px;
        }
      }
      &__item:nth-child(1) {
        padding-left: 0;
      }
      &--close{
        display: block;
      }
    }
  }
}

@include for-desctop {
  .navbar {
    padding-top: 30px;
    height: 100px;
    &-menu {
      top: 16px;
      width: 550px;
      right: 250px;
      left: auto;
    }
  }
}
